<!DOCTYPE html>
<html></html>

<head>
  <title>Pizza App</title>
<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.19/angular.min.js"></script>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>


<body ng-app="smartDeals" ng-controller="MainCtrl">
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Eywa Pizza", root_path %>
      </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "New Pizza", new_pizza_path %>
          </li>
          <li>
            <%= link_to "Sign Out", root_path%>
          </li>
        </ul>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <%= link_to "Sign Up" , root_path%>
          </li>
          <li>
            <%= link_to "Sign In" , root_path%>
          </li>
        </ul>
    </div>
  </nav>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert" %>
    <% end %>
    <%= yield %>
  </div>
</body>

